//- single element api i think sounds nice
//- chat-ui(
//-   title='Chat UI'
//-   title-image='https://cdn.something.jpg'
//-   bot-name='Bot'
//-   bot-avatar='https://cdn.something.jpg'
//- )
//- then with js
//- ChatUI.init = [...]

//- current structure, easy to change
chat-ui
  chat-titlebar(title='Chat UI' avatar='https://pbs.twimg.com/profile_images/880147119528476672/S7C-2C6t.jpg')

  chat-scrollview: chat-messagelist
    chat-cluster(
      avatar='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif' 
      username='${bot_name}' 
      messages='["Hi!", "I\'m a bot 😉"]'
    )
    //- chat-gallery(
    //-   avatar='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif'
    //-   images='[{"src":"http://hello.eboy.com/eboy/wp-content/uploads/2015/09/SFCUTCOVER-01t-2x.png"}, {"src":"http://8bitdecals.com/wp-content/uploads/2012/06/shop_tokyo_fullsize.png"}]'
    //- )
    chat-media
      figure
        img(src='https://78.media.tumblr.com/f7a12ce0c97296d7b2a7beb7428a826b/tumblr_milh3ahrmF1qgjeodo1_540.gif')
        figcaption: chat-avatar(src='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif')
    chat-cards(
      avatar='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif'
      username='${bot_name}'
      cards='[{"image":"http://hello.eboy.com/eboy/wp-content/uploads/2015/09/SFCUTCOVER-01t-2x.png","text":"Cake brownie chocolate jujubes liquorice lollipop jelly biscuit."}, {"image":"http://8bitdecals.com/wp-content/uploads/2012/06/shop_tokyo_fullsize.png","text":"Liquorice carrot cake jelly beans tootsie roll."}]'
    )
    chat-cluster(
      mine 
      avatar='' 
      username='Not Bot' 
      messages='["I\'m <i>NOT</i> a bot", "😜", "what kind of things can you do?", "can you generate ipsum so i can test really long messages in the thread?"]'
    )
    chat-cluster(
      avatar='https://cdn.dribbble.com/users/37530/screenshots/2937858/drib_blink_bot.gif' 
      username='${bot_name}' 
      messages='["Yep! Here\'s some cupcake ipsum", "Cake brownie chocolate jujubes liquorice lollipop jelly biscuit. Liquorice carrot cake jelly beans tootsie roll. "]'
    ) 
    chat-cluster(
      mine 
      avatar='' 
      username='Not Bot' 
      messages='["Well played"]'
    )

  chat-authoring
